body {
  font-family: "Merriweather", serif;
  background-color: #f0f0f0;
  color: #333;
}
.container {
  max-width: 600px;
  margin: 120px auto;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

h1,
h2 {
  font-family: "Great Vibes", cursive;
}
h1 {
  text-align: center;
  color: #4a90e2;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.5;
}
form {
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
.inputField {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex: 1;
  font-size: 16px;
  box-sizing: border-box;
}
.submitbutton {
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 10px;
  width: 150px;
  padding: 16px 14px;
  font-size: 16px;
}
